#label1{}

#expensesLabel{
    -fx-font-fill:red;
}

btn1{
    -fx-background-radius: 2;
    -fx-background-color:#FFD700;
    -fx-border-color:#2E7D32;
    -fx-border-width:2px;
    -fx-border-radius:8px;
    -fx-border-style:solid;
}

btn2{
    -fx-background-radius: 2;
    -fx-background-color:#FFD700;
}